.collected {
  background-color: red;
}

.mount-item {
  width: 10%;
  margin: 10px;
}

.mount-item img {
  max-width: 100%;
}

.mount-list__wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  border: none;
  background: none;
}

button.active {
  border-bottom: 1px solid red;
}

button:focus {
  outline: none;
}