
.mounts {
  min-height: 100vh;
}
.mount-item {
  width: 15%;
  margin: 15px 10px;
  background: #181818;
  color: white;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  opacity: 0.3;
  cursor: pointer;
  border: 1px solid #181818;
}
.mount-item.collected {
  opacity: 1;
}
.mount-item:hover {
  border: 1px solid #f8b700;
  color: #f8b700;
}

.mount-item-image {
  min-height: 185px;
  width: 100%;
  background-size: cover;
  background-position: center;

  transition: all 0.2s ease-in-out;
}

.mount-item:hover .mount-item-image {
  transform: scale(1.1);
}



.mount-list__wrapper {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

button.active {
  border-bottom: 1px solid red;
}

button:focus {
  outline: none;
}
button:disabled {
  cursor: not-allowed;
}