.home-container {
  background-image: url('/shadowlands-login-screen-min.png');
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-position: center;
}

.home-container form {
  display: flex;
  flex-direction: column;
}

.home-container button.btn {
  margin-top: 60px;
}

.home-container form input::placeholder {
  color: rgb(104,121,115);
}


.home-container form input[type="text"]::placeholder {
  font-size: 0;
}