.mounts {
  min-height: 100vh;
  max-width: 1320px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.mount-list__wrapper {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.mount-list__pagination-wrapper {
  position: absolute;
  bottom: 10px;
  user-select: none;
}