@font-face {
  font-family: semplicita-pro;
  font-weight: bold;
  src: url("/SemplicitaPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: semplicita-pro-normal;
  src: url("/SemplicitaPro.otf") format("opentype");
}

* {
  box-sizing: border-box  ;
}

.App {
  text-align: center;
  background: url('/pane-bg.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
