.App {
  text-align: center;
}

img {
  max-width: 100%;
}
.home-container {
  background-image: url('/shadowlands-login-screen-min.png');

  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}




.form-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.home-container form {
  display: flex;
  flex-direction: column;
}
.mount-list__form-wrapper form {
  display: flex;
  flex-direction: row;
}